# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
docs/*
references/*
/source/smallsmt-openpnp-server/.idea
/source/smallsmt-openpnp-server/__pycache__
/reference/dest
/reference/ComGUI/debug
/reference/ComGUI
/reference/V2ComDLL
/reference/build-ComGUI-Desktop_Qt_5_9_2_GCC_64bit-Debug
/reference/build-V2ComDLL-Desktop_Qt_5_9_2_GCC_64bit-Debug
/reference/common
/reference/interface
